* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Mont Bold";
    /*paragrafos destaques*/
    src: url("/src/font/Montserrat-Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mont Regular";
    /*paragrafos menores*/
    src: url("/src/font/Montserrat-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mont Medium";
    /*paragrafos*/
    src: url("/src/font/Montserrat-Medium.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Uniform";
    /*titulo importante*/
    src: url("/src/font/UniformBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {

    /* Cores plano de fundo */
    --bk-green: #3a7f1c;
    --bk-whiteice: #f1f1f1;

    /*Cores texto*/
    --text-1: #3a7f1c;
    --text-2: #f1f1f1;

    /*Cores elementos*/
    --element-red: #ea2e26;

    /*Cores gerais*/
    --black: #000000;

}
footer {
    display: flex;
    justify-content: center;
    gap: 9rem;
    background-color: transparent;
    padding: 20px;
}

#container-reviews {
    display: flex; 
    flex-direction: column;
    width: 35%; 
    height: 16rem;
    padding: 1rem;
    max-height: 100%;
    overflow: auto; 
}
/* Estilizando a própria barra de rolagem */
#container-reviews::-webkit-scrollbar {
    width: 8px; 
}

/* Estilizando a parte "móvel" da barra de rolagem */
#container-reviews::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; /
}

/* Estilizando a parte de fundo da barra de rolagem */
#container-reviews::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px;
}

.review {
    display: flex;
    flex-direction: row; 
    margin-bottom: 1rem;
    background-color: transparent;
    border-radius: 8px;
}

.photo-review {
    margin-right: 1rem;
}

.photo-review img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.text-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-review h2 {
    font-family: "Uniform";
    font-size: 3rem;
    color: var(--text-1); 
}

.description-review {
    font-family: "Mont Medium", sans-serif;
    font-size: 1.2rem;
    color: var(--black); 
    width: 45ch;
}

#nav-container{
    display: flex;
    align-self: center;
    width: 20%;
    height: 12rem;
}

.nav-links{
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
}

.nav-links a{
    text-decoration: none;
    color: #2f2f2f;
    font-family: "Uniform";
    font-size: 2rem;
    margin-top: -1.1rem; 
}

.nav-links h1{
    color: var(--text-1);
    font-size: 3rem;
    font-family: "Uniform";
}

.icon{
    width: 80px;
    height: 80px;
    object-fit: cover;
}