#container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/public/images/Queimada\ 2.jpg);
    object-fit: cover;
    height: 30rem;
    width: 100%;
    text-align: center;
}

#text-container{
    display: flex;
    flex-direction: column;
}

#text-container p{
    margin-top: 20px;
    width: 70ch;
    font-size: 25px;
    color: var(--text-2);
    font-family: "Mont Medium";

}

#text-container h1{
    color: var(--text-2);
    font-family: "Uniform";
    font-size: 3rem;
}

#divison{
    position: relative;
    height: 10rem;
    width: 100%;
    top: -16.8rem;
}

#container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bk-green);
    height: 30rem;
    width: 100%;
    text-align: center;
}