#container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('/public/images/Queimada\ 2.jpg');
    object-fit: cover;
    height: 30rem;
    width: 100%;
    text-align: center;
}

#text-container-1{
    display: flex;
    flex-direction: column;
}

#text-container-1 p{
    margin-top: 5px;
    width: 70ch;
    font-size: 30px;
    color: var(--text-2);
    font-family: "Mont Medium";

}

#text-container-1 h1{
    color: var(--text-2);
    font-family: "Uniform";
    font-size: 3rem;
}

/* #divison {
    position: absolute; 
    height: 10rem;
    width: 100%;
    top: -10rem;
    z-index: 1; 
} */

#container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bk-write);
    height: 30rem;
    width: 100%;
}

#forma-2 {
    height: 40rem;
    width: auto; 
    max-width: 70%; 
    position: relative;
    right: 0;
}

#text-container-2 {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: auto; 
    text-align: center;
    position: relative;
    right: 7rem;
    padding: 1rem; 
}
#text-container-2 h3{
    font-family: "Uniform";
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-1);
}

#text-container-2 p{
    font-family: "Mont Bold";
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
}
#container-3 {
    display: flex;
    align-items: center;
    background-color: var(--bk-green);
    height: 30rem;
    width: 100%;
    text-align: center;
    position: relative; 
}
