#container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30rem;
    width: 100%;
    text-align: center;
}

.background-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    position: absolute; 
    left: 0;
    z-index: -1; 
}

#text-container-1{
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}


#text-container-1 p{
    margin-top: 5px;
    width: 60ch;
    font-size: 30px;
    color: var(--text-2);
    font-family: "Mont Medium";

}

#text-container-1 h1{
    color: var(--text-2);
    font-family: "Uniform";
    font-size: 3rem;
}

#container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bk-write);
    height: 30rem;
    width: 100%;
}

#forma-2 {
    height: 40rem;
    width: auto; 
    max-width: 70%; 
    position: relative;
    right: 0;
}

#text-container-2 {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: auto; 
    text-align: center;
    position: relative;
    right: 7rem;
    padding: 1rem; 
}
#text-container-2 h3{
    font-family: "Uniform";
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-1);
}

#text-container-2 p{
    font-family: "Mont Bold";
    font-size: 1.2rem;
    width: 40ch;
    text-align: center;
    color: var(--black);
}
#container-3 {
    display: flex;
    align-items: center;
    background-color: var(--bk-green);
    height: auto;
    width: 100%;
    flex-direction: column;
    text-align: center;
    position: relative; 
    padding: 20px;
}

.title{
    font-family: "Uniform";
    color: var(--text-2);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#devs-container{
    display: flex;
    margin-bottom: 1.5rem;
    background-color: var(--bk-whiteice);
    width: 65%;
    height: 17.5rem;
    border-radius: 0px 15px 15px 15px;
}
.dev img{
    position: relative;
    top: 0.5rem;
    right: 15rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}
.texts-dev{
    display: flex;
    align-items: flex-start;
    width: 80ch;
    position: relative;
    top: -8rem;
    left: 10rem;
    flex-direction: column;
    height: auto;
}
.texts-dev h1{
    font-family: "Uniform";
    color: var(--text-1);
    font-size: 2.5rem;
    margin-bottom: -0.6rem;
}
.texts-dev h2{
    font-family: "Mont Bold";
    color: var(--text-3);
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
}
.texts-dev h3{
    font-family: "Mont Medium";
    color: var(--text-1);
    font-size: 1.2rem;
}
.texts-dev p{
    font-family: "Mont Medium";
    color: var(--black);
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}
#image-responsive{
    display: none;
}
.ajuste{
    width: 100%;
    height: auto;
    justify-content: center;
}
.ajuste h1{
    position: relative;
    width: 20rem;
    display: flex;
    justify-content: start;
}

@media (min-width: 1920px) {
    #text-container-2 h3{
        position: relative;
        right: 0rem;
        left: -9rem;
    }

    .dev img{
        top: 3rem;
        position: relative;
        right: 10rem;
    }

    .texts-dev{
        text-align: center;
        position: relative;
        right: 0rem;
        left: 20rem;
    }


}

@media (min-width: 1280px) and (max-width: 1920px) { 

    #devs-container{
        display: flex;
        flex-direction: column;
        background-color: var(--bk-whiteice);
        width: 90%;
        border-radius: 0px 15px 15px 15px;
        }

    .dev img{
        top: 3rem;
        position: relative;
        right: 25rem;
    }

    .texts-dev{
        text-align: center;
        position: relative;
        right: 0rem;
        left: 19rem;
    }
}

@media (max-width: 468px) {
    #image-responsive{
        display: flex;
        width: 100%;
        height: 10rem;
    }

    #forma-2 {
        display: none;
    }

    #container-2 {
        flex-direction: column;
    }
    
    #container-1 {
        height: auto;
        background-size: cover;
        padding: 2rem;
    }

    #text-container-1 h1 {
        font-size: 2.5rem;
    }

    #text-container-1 p {
        font-size: 1.5rem;
        width: 20ch;
    }

    #container-2 {
        flex-direction: column;
        padding: 1rem;
        height: auto;
    }

    #forma-2 {
        height: 20rem;
        width: auto;
        position: static;
        margin-bottom: 1rem;
    }

    #text-container-2 {
        width: 100%;
        right: 0rem;
    }

    #text-container-2 h3 {
        font-size: 1.5rem;
    }

    #text-container-2 p {
        font-size: 1.2rem;
        width: 20ch;
        position: relative;
        left: 1.7rem;
    }

    #devs-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    background-color: var(--bk-whiteice);
    width: 90%;
    height: auto;
    border-radius: 0px 15px 15px 15px;
    }

    .title{
        font-size: 2rem;
    }

    .dev{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .dev img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        right: 0px;
    }
    .texts-dev{
        display: flex;
        justify-content: center;   
        width: 20ch;
        height: auto;
        top: 0rem;
        left: 0rem;
    }
    .texts-dev h1{
        position: relative;
        font-family: "Uniform";
        color: var(--text-1);
        font-size: 2.5rem;
        margin-bottom: -0.6rem;
        left: 0rem;
        padding-top: 0.5rem;
    }
    .texts-dev h2{
        font-family: "Mont Bold";
        color: var(--text-3);
        font-size: 1.3rem;
        margin-bottom: 0.4rem;
    }
    .texts-dev h3{
        font-family: "Mont Medium";
        color: var(--text-1);
        font-size: 1.2rem;
        position: relative;
        left: 0rem;
    }
    .texts-dev p{
        font-family: "Mont Medium";
        color: var(--black);
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
    }

    .background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute; 
        left: 0; 
    }
    .ajuste h1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    }
 }