body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.header {
    background-color: var(--bk-whiteice);
    border-bottom: 2px solid #0000ff;
}

#barnav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.navlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Uniform";
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav-itens {
    text-decoration: none;
    color: var(--text-1);
    font-weight: bold;
    font-size: 2.3rem;
    display: inline-block;
}

.nav-itens:hover {
    text-decoration: none;
    color: #ea2e26;
}

.nav-icons {
    width: 55px;
    vertical-align: middle;
    margin-right: 5px;
}

#first-section {
    background-color: var(--bk-green);
    padding: 1.25em;
}

#first-section h1 {
    color: var(--text-2);
    font-family: "Uniform";
    font-size: 4.2rem;
    font-weight: bold;
    margin-bottom: -1rem;
}

#first-section p {
    font-family: "Mont Bold";
    font-size: 2rem;
    text-align: start;
    color: var(--text-2);
}

#second-section {
    background-color: var(--bk-whiteice);
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 1rem;
    font-size: 150%;
    width: 100%;
    height: 50%;
}

.description {
    white-space: pre-line;
    font-size: 1.03rem;
    padding-left: 50px;
}

#imagem {
    height: 50%;
    width: 50%;
}

#topico1 {
    font-size: 1.2rem;
}

#third-section {
    background-color: var(--bk-whiteice);
    display: flex;
    justify-content: space-between;
}

/*ESTILO PARA TELAS MEDIAS*/

@media screen and (max-width: 1050px) {

    /*CLASSES GERAIS*/

    h2 {
        font-size: 1.3rem;
    }

    #topico1 {
        font-size: 1rem;
    }

    #imagem {
        width: 60%;
    }

    /*CABEÇALHO*/

    #barnav {
        display: none;
    }
}